.bgcolor{
  background-color: #121212;
}

.innerbox{
  background-color: #111222;
  width:1340px;
  margin:auto;
}

h1, h2, h3{
  color: white;
  font-family: sans-serif;
}

.mcpgl{
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.macapagal{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 22px; 
  text-align: justify
}

.header{
  background-color: #222e50;
  padding: 3px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.sta-rita{
  margin-right: 10px; 
  float: left; 
  margin-left:10px; 
  width: 400px; 
  height: auto; 
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

nav {
  overflow: hidden;
  background-color: #222e50;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
	background-color: #121212;
}

p {
	font-family: arial;
	color: white;
	padding: 20px;
}

.links{
  overflow: hidden;
  background-color: #222e50;
}

.text-styling{
  color: white
}

/* ============================================ STOCKS CSS ============================================ */      


.products {
  background-color: #111222;
  width: auto;
  margin: auto;
}

.prodrow {
display: flex;
justify-content: center;
}

.prodrow > .prodcol {
  background-color: #dfcaa0;
  width: 400px;
  height: auto;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}

.prodcol {
  background-color: #dfcaa0; 
						width: auto;
						margin-top:10px;
            padding: 10px;
}

.grocery {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:10px;
}

/* Hide the browser's default checkbox */
.grocery input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.image {
  opacity: 1;
  display: float;
  width: 100px;
  height: 100px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.prodcol {
  position: relative;
  width: 50%;
}

a {
	color: white;
}

.grocery{margin-left:10px;}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.prodcol:hover .image {
  opacity: 0.3;
}

.prodcol:hover .middle {
  opacity: 1;
}

.text {
  background-color: #fccb06;
  color: black;
  font-size: 16px;
}

/* ===================================== Cart =================================================== */

.checklist{
  background-color: #111222; 
	width:1260px;
	margin:auto;
}

.loob{
  background-color: #ffffed; 
						width:1200px;
						margin-top:10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #222e50;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.botnav {
  overflow: hidden;
  background-color: #222e50;
}

.botnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  background-color: #ddd;
  color: black;
}

.botnavnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.boynav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .botnav a, .botnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
.botnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.flexx-container {
  display: flex;
  flex-direction: column;
  background-color: #111222;
}

.flexx-container > div {
  background-color: #f1f1f1;
  width: 1200px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}

.grocery {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.grocery input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.grocery:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.grocery input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.grocery input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.grocery .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.wapak {
display: flex;
justify-content: center;
}

.wapak > .checked {
  background-color: #ffffed;
  width: 400px;
  height: auto;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}

.checked {
  background-color: #ffffed; 
						width: auto;
						margin-top:10px;
            padding: 10px;
}